
.message {

}

.imageAndText {
    height: 101px;
    width: 1280px;
    background-color: red;
    color: green;
}

.imageAndText img {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left: 1175px;
    margin-top: 30px;
}

.text {
    position: absolute;
    width: 527px;
    height: 60px;
    margin: 24px 118px 252px 635px;
    background: #0066CC;
    border-radius: 10px;
}
.text:before{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 511px;
    top: 35px;
    border-bottom: 25px solid #0066CC;
    border-right: 30px solid transparent;
}

.name {
    margin-left: 462px;
    font-size: 18px;
    color: white;
}

.messageText {
    margin-left: 13px;
    line-height: 19px;
    font-size: 14px;
    margin-top: 10px;
    color: white;
}

.time {
    position: absolute;
    font-size: 10px;
    color: #000000;
    margin-top: -250px;
    margin-left: 1185px
}

.friendMessage{
    background-color: #cc9c00;
}