.sidebar {
    position: absolute;
    max-width: 1280px;
    background-color: blue;
    top: -100%;
}

.sidebar.open {
    display: flex;
    position: fixed;
    background-color: #708090;
    width: 317px;
    height: 100%;
    padding-left: 70px;
    padding-top: 63px;
    top: 0;
    z-index: 15;
}

.background {

background-color: red;

}

.nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}
#hw5-pre-junior-link{
    color: green;
}

.nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 22px;
    margin: 23px;
    line-height: 27px;
    transform: translateX(0%);
}

.nav a:hover {
    color: #58ACFF;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    top: 0;

}

.nav a.active {
    text-decoration-line: underline;
    color: #0059B2;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
    top: 0;

}

.close {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 269px;
    right: 24px;
    top: 16px;
    bottom: 24.98%;
    background-color: transparent;
    border: medium none;
}

.close img {
cursor: pointer;
}
