@keyframes rotate {
    to {transform: rotate(4turn);}
}

.loader {
    height: 80px;
    width: 80px;
    margin-left: 20px;
    background: url("./assets/images/7587096.png") no-repeat;
    background-size: contain;
    animation-name: rotate;
    animation-duration: 5s;
    /*свг и/или анимация*/
}
