.stand {
    display: flex;
    justify-content: flex-start;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-right: 132px;
}
.input input{
    height: 36px;
    width: 372px;
}

.button {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 358px;
}

.default{


}

.red{

}

.disabled{

}

.secondary{

}

.checkboxes_Hometask{
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #0066CC;
    font-family: 'Montserrat';
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
