.greetingForm {
}

.inputAndButtonContainer {
    display: flex;

}
.inputAndButtonContainer input{
    width: 372px;
    height: 36px;
    margin-right: 6px;
    padding: 10px;
}
.error {

}

.input {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

.inputClass:focus {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

.errorInput {
    border: 1px solid red;
    border-radius: 5px;
    outline: red;
}

.button {
    width: 78px;
    height: 36px;
    margin-left: 6px;
    background-color: #0066CC;
    cursor: pointer;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
