.affair {
    display: inline-block;
    width:185px;
    height: 40px;
    border: 1.5px solid var(--color);
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px #2259c3;
    margin: 12px;
}

.name {
    display: inline-block;
    text-align: center;

    width: 145px;
    height: 37px;
}

.closeButton {
    display: inline-block;
    width: 40px;
    height: 37px;
    background-color: transparent;
    border: none;
    border-left: 1.5px solid var(--color);
    font-weight: 900;
    cursor: pointer;
}
